PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/samarth_dental"
JWT_SECRET=samarth_jwt_secret_change_this_in_production
ADMIN_EMAIL=admin@samarthdental.com
ADMIN_PASS=samarth@123
EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your_app_password
CLINIC_EMAIL=doctor@gmail.com
CLINIC_PHONE=919408040219
FRONTEND_URL=http://localhost:3000
